.start-button {
    transition: transform 0.7s;
}

.start-button:hover{
    transform: scale(1.2);
}

.main-content-header{
    width: 100vw;
    height: 10vh;
}

.side-menu-button {
    background-color: #fff;
    width: 24px;
    height: 4px;
    margin-bottom: 4px;
    transition: transform 0.7s;
}

.main-side-menu-button {
    transition: transform 0.7s;
}

.main-side-menu-button:hover{
    transform: scale(1.2);
}

.side-menu{
    width: 30vw;
    height: 100vh;
    background-color: #fff;
    z-index: 1001;
    position: absolute;
    top: 0;
}

.new-game-button {
    background-color: #fff;
    color: #000;
    border: 0px;
    width: 20vw;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.7s;
}

.new-game-button:hover {
    transform: scale(1.1);
}

.start-game-button {
    background-color: #000;
    color: #fff;
    border: 0px;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.7s;
}

.start-game-button:hover {
    transform: scale(1.1);
}

.main-game-content{
    width: 100vw;
    height: 63vh;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 0;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

#id0 {
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

#id1 {
    border-left: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

#id2 {
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

#id3 {
    border-top: 3px solid black;
    border-right: 3px solid black;
    border-bottom: 3px solid black;
}

#id4 {
    border: 3px solid black;
}

#id5 {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
}

#id6 {
    border-top: 3px solid black;
    border-right: 3px solid black;
}

#id7 {
    border-top: 3px solid black;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

#id8 {
    border-top: 3px solid black;
    border-left: 3px solid black;
}

.popup-new-game{
    position: absolute;
    width: 30vw;
    height: 30vh;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1001;
    top: calc(50% - 20vh);
    left: 50%;
    transform: translateX(-50%);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1000; 
    display: block; 
}

.close {
    width: 100%;
    height: 20%;
}

.main-popup {
    width: 100%;
    height: 40%;
}

.start {
    width: 100%;
    height: 20%;
}

input {
    background-color: rgb(220, 220, 220);
    border: 0px;
    padding: 5px;
    border-radius: 4px;
}

.win-text {
    width: 100%;
    height: 70%;
}

.simble-game {
    font-size: 100px !important;
    color: #fff !important;
}
